/* ==========================================================================
	@_book.scss
	This file is used for styling the button-block.
============================================================================= */

.book {
  &-wrapper {
    background-color: $gray;
    display: flex;
    flex-direction: column;
    width: unset;
    margin: auto;
    padding: 3em;
    gap: 1em;

    @include tablet {
      flex-direction: row;
      width: calc($content - 120px);
      border-radius: 5px;
      gap: 2.5em;
    }
  }

  &-image {
    width: 200px;
    overflow: hidden;
    aspect-ratio: 1/1.3;
    margin: auto;

    @include tablet {
      aspect-ratio: 1/1;
      margin: unset;
      width: 50%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &-text {
    width: 100%;

    @include tablet {
      width: 50%;
    }

    p {
      width: unset;
      margin: 0;
      color: $white;
    }
  }
}
