/* ==========================================================================
	@_card.scss
	This file is used for styling the card-block.
============================================================================= */
.card {
  &-wrapper {
    width: unset;
    margin: 0 1em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;

    @include laptop {
      width: $content;
      margin: auto;
    }
  }

  &__container {
    width: 250px;
    border-radius: 5px;
    background-color: $white;
    box-shadow: $shadow-200;

    &-image {
      width: 250px;
      height: 150px;
      overflow: hidden;
      border-radius: 5px 5px 0 0;

      img {
        width: 250px;
        height: auto;
      }
    }
  }
}

.team {
  &__container {
    padding: 1em;

    &-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1em;

      p {
        font-size: $text-info;
      }
    }

    &-name {
      margin-bottom: 1em;

      .strong-text {
        font-weight: 600;
        min-height: 65px;
      }
    }

    &-link {
      text-align: right;
    }

    p {
      width: unset;
      margin: unset;
    }
  }
}
