/* ==========================================================================
	@_cover.scss
	This file is used for styling the cover-block.
============================================================================= */

.cover {
  &-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
    aspect-ratio: 16/9;

    @include laptop {
      width: $content-wide;
    }
  }

  &-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
    aspect-ratio: 16/9;

    @include laptop {
      width: $content-wide;
    }

    & img {
      width: 100%;
      height: auto;
      opacity: 0.3;
    }
  }

  &-box {
    display: block;
    position: relative;
    bottom: 100px;
    color: $white;
    padding: 0 1em;

    @include tablet {
      bottom: 150px;
    }

    @include laptop {
      bottom: 250px;
    }

    h1 {
      font-size: $h3-mobile;
      margin: 0;

      @include tablet {
        font-size: $h1-mobile;
      }

      @include laptop {
        font-size: calc($h1 - 10px);
      }
    }

    h3 {
      font-size: $p-mobile;
      margin: 0;

      @include tablet {
        font-size: $h3-mobile;
      }

      @include laptop {
        font-size: $h3;
      }
    }
  }
}

.b {
  &-gray {
    background-color: $gray;
  }

  &-green {
    background-color: $green;
  }

  &-orange {
    background-color: $orange;
  }

  &-blue {
    background-color: $blue;
  }

  &-yellow {
    background-color: $yellow;
  }

  &-teal {
    background-color: $teal;
  }

  &-purple {
    background-color: $purple;
  }

  &-red {
    background-color: $red;
  }
}
