/* ==========================================================================
	@_quote.scss
	This file is used for styling the quote-block.
============================================================================= */

.quote {
  width: unset;
  margin: 1em;

  @include tablet {
    width: $content;
    margin: auto;
  }

  &-text {
    font-weight: 600;
  }

  .quote-person {
    margin: 1em 0;

    @include tablet {
      margin: 1em auto;
    }
  }
}
