/* ==========================================================================
	@_slider.scss
	This file is used for styling the accordion-block.
============================================================================= */

.swiper {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  aspect-ratio: 16/9;

  @include laptop {
    width: $content-wide;
  }
}

:root {
  --swiper-theme-color: $black !important;
}

.slide {
  &-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
    aspect-ratio: 16/9;

    @include laptop {
      width: $content-wide;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
