/* ==========================================================================
	@_footer.scss
	This file is used for styling the footer.
============================================================================= */

.footer {
  background-color: $yellow;
  padding: 1em;

  @include laptop {
    padding: 5em 0;
  }

  &-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      flex-direction: row;
    }

    @include laptop {
      width: $content-wide;
      margin: auto;
    }
  }
}
