/* ==========================================================================
	@_header.scss
	This file is used for styling the header.
============================================================================= */

.header {
  display: block;
  padding: 0.5em 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
  box-shadow: $shadow-200;
  background-color: $white;

  &-inner {
    width: unset;
    margin: auto;
    display: flex;
    justify-content: space-between;

    @include laptop {
      width: $content-wide;
    }
  }

  &__left {
    width: calc(100% - 80px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include laptop {
      width: calc($content-wide - 80px);
    }

    span {
      margin: 0;
      font-size: $text-logo;
      font-weight: 600;
      margin-left: 1rem;

      @include laptop {
        margin: unset;
      }
    }

    ul {
      margin: 0;

      a {
        position: relative;
        top: 4px;
        width: 85px;
        margin: 0;
        background-color: $gray;
        color: $white;
        padding: 5px;
        border-radius: 5px;
        display: none;
        text-align: center;

        @include laptop {
          display: block;
        }

        li {
          text-align: center;
        }
      }
    }
  }

  &__right {
    width: 35px;
  }
}

.nav {
  &-lang-switcher {
    display: unset;
    margin: 1em;

    @include laptop {
      display: none;
    }

    a {
      font-size: $p;
      margin-left: $p-mobile;
      padding: 0.5em;
      border-radius: 5px;
      color: $white;
      background-color: $gray;

      @include tablet {
        margin-left: $p;
      }
    }
  }

  &-menu {
    position: fixed;
    width: 100%;
    height: calc(100vh - 65px);
    top: 65px;
    background-color: $white;
    transition: 0.5s ease-in-out;
    overflow: scroll;
    z-index: 10;

    @include laptop {
      overflow: hidden;
      height: 100vh;
    }

    &-inner {
      margin: auto;
      width: 100%;

      @include laptop {
        width: $content-wide;
      }

      h3 {
        font-size: $h2-mobile;
        margin: 1em 0 0.25em 0;

        @include laptop {
          font-size: $h3;
          margin: 1em 0;
        }
      }

      .first-title {
        margin: 0 0 0.25em 0;

        @include laptop {
          margin: 1em 0;
        }
      }

      &-links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1em 1em 7em 1em;

        @include laptop {
          flex-direction: row;
          justify-content: space-between;
          padding: 1em;
        }

        a {
          font-size: 18px;

          @include laptop {
            font-size: inherit;
          }
        }

        &-topics {
          ul {
            li {
              &:nth-child(1) a {
                color: $green;

                &::after {
                  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(200, 209, 0)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
                }
              }
              &:nth-child(2) a {
                color: $orange;

                &::after {
                  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(237, 126, 0)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
                }
              }
              &:nth-child(3) a {
                color: $blue;

                &::after {
                  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(46, 174, 224)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
                }
              }
              &:nth-child(4) a {
                color: $yellow;

                &::after {
                  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(253, 202, 0)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
                }
              }
              &:nth-child(5) a {
                color: $teal;

                &::after {
                  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(72, 136, 138)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
                }
              }
              &:nth-child(6) a {
                color: $purple;

                &::after {
                  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(181, 0, 123)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
                }
              }
              &:nth-child(7) a {
                color: $red;

                &::after {
                  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(204, 6, 29)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
                }
              }
            }
          }
        }

        div {
          min-width: 100%;

          @include laptop {
            min-width: 30%;
          }
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            margin: 0.5em 0;

            a {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              &::after {
                content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(153, 153, 153)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
                width: 20px;
                height: 20px;
                display: inline-block;
                position: relative;
                top: 2px;
              }
            }
          }
        }

        & a {
          color: $gray;
        }
      }

      &-home {
        display: flex;
        flex-direction: column;
        padding: 1em 1em 0 1em;

        & a {
          color: $black;
        }
      }
    }

    &-closed {
      height: 0;
    }

    ul {
      margin: 0;
    }
  }
}

#menu-navigation-header-mobile {
  & a {
    color: $black;
  }
}

.hide-menu {
  display: none !important;
}

.navbar input[type='checkbox'],
.navbar .hamburger-lines {
  display: none;
}

.navbar-container input[type='checkbox'],
.navbar-container .hamburger-lines {
  display: block;
}

.navbar-container input[type='checkbox'] {
  position: relative;
  display: block;
  height: 32px;
  width: 30px;
  right: 21px;
  top: 6px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;

  @include laptop {
    right: 1px;
  }
}

.navbar-container .hamburger-lines {
  display: block;
  height: 23px;
  width: 35px;
  position: relative;
  right: 20px;
  bottom: 24px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include laptop {
    right: unset;
  }
}

.navbar-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: $gray;
}

.navbar-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar-container input[type='checkbox']:checked ~ .menu-items {
  transform: translateX(0);
}

.navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line1 {
  transform: rotate(35deg);
}

.navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line2 {
  transform: rotate(-35deg);
}
