/* ==========================================================================
	@_main.scss
	This file is used for styling the main box.
============================================================================= */

.page-content {
  margin-top: 65px;

  .has-text-align-center {
    margin: 0;
  }

  p,
  ul {
    width: unset;
    margin: 1em;

    @include tablet {
      width: $content;
      margin: 1em auto;
    }
  }
}
