/* ==========================================================================
	@_form.scss
	This file is used for styling forms.
============================================================================= */

.util-form {
  width: unset;
  margin: auto;
  border-radius: unset;
  box-shadow: $shadow-200;

  @include tablet {
    width: calc($content / 2);
    border-radius: 5px;
  }

  .form {
    padding: 1em;

    &-field {
      display: flex;
      flex-direction: column;
      gap: 0.25em;
      margin-bottom: 0.5em;

      label {
        color: $white;
      }

      input {
        border: none;
        padding: 0.25em;
        border-radius: 5px;
      }
    }

    &-button {
      input {
        border: none;
        padding: 0.25em;
        border-radius: 5px;
        width: 100%;
        margin-top: 2em;
        background-color: $white;
        cursor: pointer;
        transition: opacity 0.25s ease-in-out;
        color: $black;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.error {
  &-box {
    margin: auto;
    width: unset;
    box-shadow: $shadow-200;
    margin-bottom: 5em;
    background-color: $red;

    @include tablet {
      width: $content;
      border-radius: 5px;
    }
  }

  &-msg {
    color: $white;
    padding: 1em;
  }
}

.register {
  background-color: $purple;
}

#login-form {
  width: unset;
  margin: auto;
  border-radius: unset;
  box-shadow: $shadow-200;
  color: $white;
  background-color: $teal;
  padding: 1em;

  @include tablet {
    width: calc(($content / 2) - 40px);
    border-radius: 5px;
  }

  p {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    width: unset;
    margin: unset;
    margin-bottom: 0.5em;
  }

  input {
    border: none;
    padding: 0.25em;
    border-radius: 5px;
  }

  #rememberme {
    position: relative;
    bottom: 2px;
  }

  .login-submit {
    input {
      border: none;
      padding: 0.25em;
      border-radius: 5px;
      width: 100%;
      margin-top: 2em;
      background-color: $white;
      cursor: pointer;
      transition: opacity 0.25s ease-in-out;
      color: $black;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.page-content .register-text {
  width: unset;

  @include tablet {
    width: calc($content / 2);
  }

  a {
    text-decoration: underline;
  }
}
