/*

This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.

*/
/* ==========================================================================
	@variables.scss
	Variablen
============================================================================= */
/* ==========================================================================
	@_mixins.scss
	Mixins allow you to define styles that can be re-used throughout your stylesheet.
============================================================================= */
/* ==========================================================================
	@__base-dir.scss
	This file is used to contain all base imports.
	Files inside this folder can contain global styles used in the project.
============================================================================= */
/* ==========================================================================
	@_reset.scss
	A CSS Reset style sheet is a list of rules that 'reset' the default browser styles.
    Customized for Theme Specific Usage
============================================================================= */
body {
  margin: 0;
}

ul.menu {
  padding-inline-start: 0;
}
ul.menu li {
  display: block;
}
ul.menu li a {
  text-decoration: none;
}

#wpadminbar {
  display: none;
}

/* ==========================================================================
	@_font.scss
	This file is used to control The font family selection in (X)HTML, CSS, and derived systems specifies
    a list of prioritized fonts and generic family names
============================================================================= */
html * {
  font-family: "Roboto", sans-serif;
  transition: font-size 0.15s ease;
  line-height: 1.618;
}

/* ==========================================================================
	@_base.scss
	This file is used to contain all base imports.
  Files inside this folder can contain global styles used in the project.
============================================================================= */
* {
  font-size: 20px;
}
*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--wp--preset--color--white);
}

a {
  color: var(--wp--preset--color--primary);
  text-decoration: unset;
  transition: opacity 0.25s ease-in-out;
  opacity: 1;
  cursor: pointer;
}
a:hover {
  opacity: 0.5;
}
a:active {
  color: var(--wp--preset--color--secondary);
}
a:visited {
  color: var(--wp--preset--color--primary);
}

h1 {
  font-size: 40px;
}
@media (min-width: 1261px) {
  h1 {
    font-size: 80px;
  }
}

h2 {
  font-size: 30px;
}
@media (min-width: 1261px) {
  h2 {
    font-size: 60px;
  }
}

h3 {
  font-size: 20px;
}
@media (min-width: 1261px) {
  h3 {
    font-size: 40px;
  }
}

p {
  font-size: 20px;
}

/*

This file is used to contain all layouts imports.
Files inside this folder can contain specific element styles and layout.

*/
.footer {
  background-color: #fdca00;
  padding: 5em;
}
@media (min-width: 1261px) {
  .footer {
    padding: 5em 0;
  }
}
.footer-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1261px) {
  .footer-inner {
    flex-direction: row;
    width: 1200px;
    margin: auto;
  }
}

.header {
  display: block;
  padding: 0.5em 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
  box-shadow: 0px 12px 12px rgba(134, 140, 150, 0.13), 0px 29px 40px rgba(134, 140, 150, 0.2);
  background-color: #ffffff;
}
@media (min-width: 1261px) {
  .header {
    padding: 0.5em 0;
  }
}
.header-inner {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.header__left {
  width: 350px;
}
.header__left span {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
}
.header__right {
  width: 35px;
}

.nav-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 69px;
  background-color: #ffffff;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  z-index: 10;
}
.nav-menu-inner {
  margin: auto;
  width: 100%;
}
@media (min-width: 1261px) {
  .nav-menu-inner {
    width: 1200px;
  }
}
.nav-menu-inner-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1em 1em 0 1em;
}
@media (min-width: 1261px) {
  .nav-menu-inner-links {
    flex-direction: row;
    justify-content: space-between;
  }
}
.nav-menu-inner-links-topics ul li:nth-child(1) a {
  color: #c8d100;
}
.nav-menu-inner-links-topics ul li:nth-child(1) a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(200, 209, 0)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
}
.nav-menu-inner-links-topics ul li:nth-child(2) a {
  color: #ed7e00;
}
.nav-menu-inner-links-topics ul li:nth-child(2) a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(237, 126, 0)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
}
.nav-menu-inner-links-topics ul li:nth-child(3) a {
  color: #2eaee0;
}
.nav-menu-inner-links-topics ul li:nth-child(3) a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(46, 174, 224)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
}
.nav-menu-inner-links-topics ul li:nth-child(4) a {
  color: #fdca00;
}
.nav-menu-inner-links-topics ul li:nth-child(4) a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(253, 202, 0)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
}
.nav-menu-inner-links-topics ul li:nth-child(5) a {
  color: #48888a;
}
.nav-menu-inner-links-topics ul li:nth-child(5) a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(72, 136, 138)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
}
.nav-menu-inner-links-topics ul li:nth-child(6) a {
  color: #b5007b;
}
.nav-menu-inner-links-topics ul li:nth-child(6) a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(181, 0, 123)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
}
.nav-menu-inner-links-topics ul li:nth-child(7) a {
  color: #cc061d;
}
.nav-menu-inner-links-topics ul li:nth-child(7) a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(204, 6, 29)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
}
.nav-menu-inner-links div {
  min-width: 100%;
}
@media (min-width: 1261px) {
  .nav-menu-inner-links div {
    min-width: 30%;
  }
}
.nav-menu-inner-links ul {
  list-style: none;
  padding: 0;
}
.nav-menu-inner-links ul li {
  margin: 0.5em 0;
}
.nav-menu-inner-links ul li a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-menu-inner-links ul li a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(153, 153, 153)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.nav-menu-inner-links a {
  color: #999999;
}
.nav-menu-inner-home {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 0 1em;
}
.nav-menu-inner-home a {
  color: #000000;
}
.nav-menu-closed {
  height: 0;
}
.nav-menu ul {
  margin: 0;
}

#menu-navigation-header-mobile a {
  color: #000000;
}

.hide-menu {
  display: none !important;
}

.navbar input[type=checkbox],
.navbar .hamburger-lines {
  display: none;
}

.navbar-container input[type=checkbox],
.navbar-container .hamburger-lines {
  display: block;
}

.navbar-container input[type=checkbox] {
  position: relative;
  display: block;
  height: 32px;
  width: 30px;
  right: 1px;
  top: 6px;
  z-index: 5;
  opacity: 0;
}

.navbar-container .hamburger-lines {
  display: block;
  height: 23px;
  width: 35px;
  position: relative;
  bottom: 24px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #999999;
}

.navbar-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar-container input[type=checkbox]:checked ~ .menu-items {
  transform: translateX(0);
}

.navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(35deg);
}

.navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: rotate(-35deg);
}

.page-content {
  margin-top: 35px;
}
.page-content p,
.page-content ul {
  width: 800px;
  margin: 1em auto;
}

/**
  *
  * File Name: @__template-parts-dir.scss
  * This file is used to contain all component imports.
  * Files inside this folder should contain all styles relating to a reusable component.
  *
**/
/* ==========================================================================
	@__blocks-dir.scss
    This file is used to contain all Gutenberg block imports.
    Files inside this folder should contain all styles relating to a reusable Gutenberg Block.
============================================================================= */
/* ==========================================================================
	@_button.scss
	This file is used for styling the button-block.
============================================================================= */
.custom-button {
  border-radius: 5px;
  padding: 15px;
}
.custom-button-link {
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin: 1em auto;
}
.custom-button svg {
  float: right;
  position: relative;
}

.large {
  width: 800px;
}

.small {
  width: 400px;
}

.m-gray {
  background-color: #999999;
  color: #ffffff;
}
.m-green {
  background-color: #c8d100;
  color: #ffffff;
}
.m-orange {
  background-color: #ed7e00;
  color: #ffffff;
}
.m-blue {
  background-color: #2eaee0;
  color: #ffffff;
}
.m-yellow {
  background-color: #fdca00;
  color: #ffffff;
}
.m-teal {
  background-color: #48888a;
  color: #ffffff;
}
.m-purple {
  background-color: #b5007b;
  color: #ffffff;
}
.m-red {
  background-color: #cc061d;
  color: #ffffff;
}

/* ==========================================================================
	@_slider.scss
	This file is used for styling the accordion-block.
============================================================================= */
.swiper {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  aspect-ratio: 16/9;
}
@media (min-width: 1261px) {
  .swiper {
    width: 1200px;
  }
}

:root {
  --swiper-theme-color: $black !important;
}

.slide-image {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  aspect-ratio: 16/9;
}
@media (min-width: 1261px) {
  .slide-image {
    width: 1200px;
  }
}
.slide-image img {
  width: 100%;
  height: auto;
}

/* ==========================================================================
	@_quote.scss
	This file is used for styling the quote-block.
============================================================================= */
.quote {
  max-width: 100%;
  margin: auto;
}
@media (min-width: 1261px) {
  .quote {
    width: 800px;
  }
}
.quote-text {
  font-weight: 600;
}

/* ==========================================================================
	@_fullimage.scss
	This file is used for styling the fullimage-block.
============================================================================= */
.fullimage {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  aspect-ratio: 16/9;
}
@media (min-width: 1261px) {
  .fullimage {
    width: 1200px;
  }
}
.fullimage img {
  width: 100%;
  height: auto;
}

/* ==========================================================================
	@_book.scss
	This file is used for styling the button-block.
============================================================================= */
.book-wrapper {
  background-color: #999999;
  display: flex;
  flex-direction: column;
  width: 680px;
  margin: auto;
  padding: 3em;
  gap: 2.5em;
  border-radius: 5px;
}
@media (min-width: 1261px) {
  .book-wrapper {
    flex-direction: row;
  }
}
.book-image {
  width: 50%;
  overflow: hidden;
  aspect-ratio: 1/1;
}
.book-image img {
  width: 100%;
  height: auto;
}
.book-text {
  width: 50%;
}
.book-text p {
  width: unset;
  margin: 0;
  color: #ffffff;
}

/* ==========================================================================
	@_accordion.scss
	This file is used for styling the accordion-block.
============================================================================= */
.accordion > dt {
  border-bottom: 2px solid #999999;
  padding: 10px;
  position: relative;
}

.accordion > dt a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 20px;
  height: 16px;
  width: 16px;
  transition: 0.6s transform;
  background-image: url("http://localhost/matheliebe/wp-content/uploads/2023/02/chevron-down1.svg");
  background-repeat: no-repeat;
  fill: #000000;
}

.accordion > dt.accordion-body-show a::after {
  transform: rotate(180deg);
  transition: 0.6s transform;
}

.accordion > dd + dt {
  margin-top: -1px;
}

.accordion > dt + dd {
  border-top: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: 0.3s max-height;
}

.accordion > dt + dd.accordion-body-show {
  transition: 0.3s max-height;
}

.accordion {
  max-width: 800px;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}
@media (min-width: 1261px) {
  .accordion {
    padding-left: 0;
    padding-right: 0;
  }
}

.accordion a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

/* ==========================================================================
	@_spacing.scss
	This file is used for styling the button-block.
============================================================================= */
.spacing-small {
  height: 60px;
}
.spacing-medium {
  height: 120px;
}
.spacing-large {
  height: 300px;
}

/* ==========================================================================
	@_cover.scss
	This file is used for styling the cover-block.
============================================================================= */
.cover-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  aspect-ratio: 16/9;
}
@media (min-width: 1261px) {
  .cover-wrapper {
    width: 1200px;
  }
}
.cover-image {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  aspect-ratio: 16/9;
}
@media (min-width: 1261px) {
  .cover-image {
    width: 1200px;
  }
}
.cover-image img {
  width: 100%;
  height: auto;
  opacity: 0.3;
}
.cover-box {
  display: block;
  width: 1200px;
  position: relative;
  bottom: 250px;
  color: #ffffff;
  padding: 0 1em;
}
.cover-box h1,
.cover-box h3 {
  margin: 0;
}

.b-gray {
  background-color: #999999;
}
.b-green {
  background-color: #c8d100;
}
.b-orange {
  background-color: #ed7e00;
}
.b-blue {
  background-color: #2eaee0;
}
.b-yellow {
  background-color: #fdca00;
}
.b-teal {
  background-color: #48888a;
}
.b-purple {
  background-color: #b5007b;
}
.b-red {
  background-color: #cc061d;
}

/* ==========================================================================
	@_video.scss
	This file is used for styling the button-block.
============================================================================= */
.video-frame {
  display: block;
  margin: auto;
}

/* ==========================================================================
	@_card.scss
	This file is used for styling the card-block.
============================================================================= */
.card-wrapper {
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}
.card__container {
  width: 250px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 12px 12px rgba(134, 140, 150, 0.13), 0px 29px 40px rgba(134, 140, 150, 0.2);
}
.card__container-image {
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.card__container-image img {
  width: 250px;
  height: auto;
}

.team__container {
  padding: 1em;
}
.team__container-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}
.team__container-info p {
  font-size: 15px;
}
.team__container-name {
  margin-bottom: 1em;
}
.team__container-name .strong-text {
  font-weight: 600;
  min-height: 65px;
}
.team__container-link {
  text-align: right;
}
.team__container p {
  width: unset;
  margin: unset;
}

/* ==========================================================================
	@__views-dir.scss
    This file is used to contain all views imports.
    Files inside this folder should contain all styles relating to views used.
============================================================================= */
/* ==========================================================================
	@_form.scss
	This file is used for styling forms.
============================================================================= */
.util-form {
  width: 400px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 12px 12px rgba(134, 140, 150, 0.13), 0px 29px 40px rgba(134, 140, 150, 0.2);
}
.util-form .form {
  padding: 1em;
}
.util-form .form-field {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin-bottom: 0.5em;
}
.util-form .form-field label {
  color: #ffffff;
}
.util-form .form-field input {
  border: none;
  padding: 0.25em;
  border-radius: 5px;
}
.util-form .form-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  margin-top: 1em;
}
.util-form .form-button input {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.util-form .form-button i {
  position: relative;
  top: 2px;
}

.error-box {
  margin: auto;
  width: 800px;
  border-radius: 5px;
  box-shadow: 0px 12px 12px rgba(134, 140, 150, 0.13), 0px 29px 40px rgba(134, 140, 150, 0.2);
  margin-bottom: 5em;
  background-color: #cc061d;
}
.error-msg {
  color: #ffffff;
  padding: 1em;
}

.register {
  background-color: #b5007b;
}/*# sourceMappingURL=styles.css.map */