/* ==========================================================================
	@__abstracts-dir.scss
	This file is used to contain all abstracts imports.
    Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
============================================================================= */
/* ==========================================================================
	@_variables.scss
	Variablen
============================================================================= */
/* ==========================================================================
	@_mixins.scss
	Mixins allow you to define styles that can be re-used throughout your stylesheet.
============================================================================= */
/* ==========================================================================
	@__base-dir.scss
	This file is used to contain all base imports.
	Files inside this folder can contain global styles used in the project.
============================================================================= */
/* ==========================================================================
	@_reset.scss
	A CSS Reset style sheet is a list of rules that 'reset' the default browser styles.
    Customized for Theme Specific Usage
============================================================================= */
body {
  margin: 0;
}

ul.menu {
  padding-inline-start: 0;
}
ul.menu li {
  display: block;
}
ul.menu li a {
  text-decoration: none;
}

#wpadminbar {
  display: none;
}

/* ==========================================================================
	@_font.scss
	This file is used to control The font family selection in (X)HTML, CSS, and derived systems specifies
    a list of prioritized fonts and generic family names
============================================================================= */
html * {
  font-family: "Roboto", sans-serif;
  transition: font-size 0.15s ease;
  line-height: 1.618;
}

/* ==========================================================================
	@_base.scss
	This file is used to contain all base imports.
  Files inside this folder can contain global styles used in the project.
============================================================================= */
* {
  font-size: 15px;
}
@media (min-width: 992px) {
  * {
    font-size: 20px;
  }
}
*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--wp--preset--color--white);
}

:target::before {
  content: "";
  display: block;
  height: 100px; /* fixed header height*/
  margin: -100px 0 0; /* negative fixed header height */
}

a {
  color: var(--wp--preset--color--primary);
  text-decoration: unset;
  transition: opacity 0.25s ease-in-out;
  opacity: 1;
  cursor: pointer;
}
a:hover {
  opacity: 0.5;
}
a:active {
  color: var(--wp--preset--color--secondary);
}
a:visited {
  color: var(--wp--preset--color--primary);
}

h1 {
  font-size: 40px;
}
@media (min-width: 1261px) {
  h1 {
    font-size: 80px;
  }
}

h2 {
  font-size: 30px;
}
@media (min-width: 1261px) {
  h2 {
    font-size: 60px;
  }
}

h3 {
  font-size: 20px;
}
@media (min-width: 1261px) {
  h3 {
    font-size: 40px;
  }
}

p {
  font-size: 15px;
}
@media (min-width: 992px) {
  p {
    font-size: 20px;
  }
}

.underline-link {
  text-decoration: underline;
}

/* ==========================================================================
	@__components-dir.scss
	This file is used to contain all components imports.
	Files inside this folder can contain global styles used in the project.
============================================================================= */
/* ==========================================================================
	@_cookie.scss
	This file is used for styling the cookie-banner.
============================================================================= */
.wpcc-container {
  box-shadow: 0px 12px 12px rgba(134, 140, 150, 0.13), 0px 29px 40px rgba(134, 140, 150, 0.2);
}

/* ==========================================================================
	@__layouts-dir.scss
    This file is used to contain all layouts imports.
    Files inside this folder can contain specific element styles and layout.
============================================================================= */
/* ==========================================================================
	@_footer.scss
	This file is used for styling the footer.
============================================================================= */
.footer {
  background-color: #fdca00;
  padding: 1em;
}
@media (min-width: 1261px) {
  .footer {
    padding: 5em 0;
  }
}
.footer-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .footer-inner {
    flex-direction: row;
  }
}
@media (min-width: 1261px) {
  .footer-inner {
    width: 1200px;
    margin: auto;
  }
}

/* ==========================================================================
	@_header.scss
	This file is used for styling the header.
============================================================================= */
.header {
  display: block;
  padding: 0.5em 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
  box-shadow: 0px 12px 12px rgba(134, 140, 150, 0.13), 0px 29px 40px rgba(134, 140, 150, 0.2);
  background-color: #ffffff;
}
.header-inner {
  width: unset;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1261px) {
  .header-inner {
    width: 1200px;
  }
}
.header__left {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 1261px) {
  .header__left {
    width: 1120px;
  }
}
.header__left span {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  margin-left: 1rem;
}
@media (min-width: 1261px) {
  .header__left span {
    margin: unset;
  }
}
.header__left ul {
  margin: 0;
}
.header__left ul a {
  position: relative;
  top: 4px;
  width: 85px;
  margin: 0;
  background-color: #999999;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  display: none;
  text-align: center;
}
@media (min-width: 1261px) {
  .header__left ul a {
    display: block;
  }
}
.header__left ul a li {
  text-align: center;
}
.header__right {
  width: 35px;
}

.nav-lang-switcher {
  display: unset;
  margin: 1em;
}
@media (min-width: 1261px) {
  .nav-lang-switcher {
    display: none;
  }
}
.nav-lang-switcher a {
  font-size: 20px;
  margin-left: 15px;
  padding: 0.5em;
  border-radius: 5px;
  color: #ffffff;
  background-color: #999999;
}
@media (min-width: 992px) {
  .nav-lang-switcher a {
    margin-left: 20px;
  }
}
.nav-menu {
  position: fixed;
  width: 100%;
  height: calc(100vh - 65px);
  top: 65px;
  background-color: #ffffff;
  transition: 0.5s ease-in-out;
  overflow: scroll;
  z-index: 10;
}
@media (min-width: 1261px) {
  .nav-menu {
    overflow: hidden;
    height: 100vh;
  }
}
.nav-menu-inner {
  margin: auto;
  width: 100%;
}
@media (min-width: 1261px) {
  .nav-menu-inner {
    width: 1200px;
  }
}
.nav-menu-inner h3 {
  font-size: 30px;
  margin: 1em 0 0.25em 0;
}
@media (min-width: 1261px) {
  .nav-menu-inner h3 {
    font-size: 40px;
    margin: 1em 0;
  }
}
.nav-menu-inner .first-title {
  margin: 0 0 0.25em 0;
}
@media (min-width: 1261px) {
  .nav-menu-inner .first-title {
    margin: 1em 0;
  }
}
.nav-menu-inner-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1em 1em 7em 1em;
}
@media (min-width: 1261px) {
  .nav-menu-inner-links {
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
  }
}
.nav-menu-inner-links a {
  font-size: 18px;
}
@media (min-width: 1261px) {
  .nav-menu-inner-links a {
    font-size: inherit;
  }
}
.nav-menu-inner-links-topics ul li:nth-child(1) a {
  color: #c8d100;
}
.nav-menu-inner-links-topics ul li:nth-child(1) a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(200, 209, 0)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
}
.nav-menu-inner-links-topics ul li:nth-child(2) a {
  color: #ed7e00;
}
.nav-menu-inner-links-topics ul li:nth-child(2) a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(237, 126, 0)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
}
.nav-menu-inner-links-topics ul li:nth-child(3) a {
  color: #2eaee0;
}
.nav-menu-inner-links-topics ul li:nth-child(3) a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(46, 174, 224)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
}
.nav-menu-inner-links-topics ul li:nth-child(4) a {
  color: #fdca00;
}
.nav-menu-inner-links-topics ul li:nth-child(4) a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(253, 202, 0)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
}
.nav-menu-inner-links-topics ul li:nth-child(5) a {
  color: #48888a;
}
.nav-menu-inner-links-topics ul li:nth-child(5) a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(72, 136, 138)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
}
.nav-menu-inner-links-topics ul li:nth-child(6) a {
  color: #b5007b;
}
.nav-menu-inner-links-topics ul li:nth-child(6) a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(181, 0, 123)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
}
.nav-menu-inner-links-topics ul li:nth-child(7) a {
  color: #cc061d;
}
.nav-menu-inner-links-topics ul li:nth-child(7) a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(204, 6, 29)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
}
.nav-menu-inner-links div {
  min-width: 100%;
}
@media (min-width: 1261px) {
  .nav-menu-inner-links div {
    min-width: 30%;
  }
}
.nav-menu-inner-links ul {
  list-style: none;
  padding: 0;
}
.nav-menu-inner-links ul li {
  margin: 0.5em 0;
}
.nav-menu-inner-links ul li a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-menu-inner-links ul li a::after {
  content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(153, 153, 153)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.nav-menu-inner-links a {
  color: #999999;
}
.nav-menu-inner-home {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 0 1em;
}
.nav-menu-inner-home a {
  color: #000000;
}
.nav-menu-closed {
  height: 0;
}
.nav-menu ul {
  margin: 0;
}

#menu-navigation-header-mobile a {
  color: #000000;
}

.hide-menu {
  display: none !important;
}

.navbar input[type=checkbox],
.navbar .hamburger-lines {
  display: none;
}

.navbar-container input[type=checkbox],
.navbar-container .hamburger-lines {
  display: block;
}

.navbar-container input[type=checkbox] {
  position: relative;
  display: block;
  height: 32px;
  width: 30px;
  right: 21px;
  top: 6px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
@media (min-width: 1261px) {
  .navbar-container input[type=checkbox] {
    right: 1px;
  }
}

.navbar-container .hamburger-lines {
  display: block;
  height: 23px;
  width: 35px;
  position: relative;
  right: 20px;
  bottom: 24px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1261px) {
  .navbar-container .hamburger-lines {
    right: unset;
  }
}

.navbar-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #999999;
}

.navbar-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar-container input[type=checkbox]:checked ~ .menu-items {
  transform: translateX(0);
}

.navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(35deg);
}

.navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: rotate(-35deg);
}

/* ==========================================================================
	@_main.scss
	This file is used for styling the main box.
============================================================================= */
.page-content {
  margin-top: 65px;
}
.page-content .has-text-align-center {
  margin: 0;
}
.page-content p,
.page-content ul {
  width: unset;
  margin: 1em;
}
@media (min-width: 992px) {
  .page-content p,
  .page-content ul {
    width: 800px;
    margin: 1em auto;
  }
}

/* ==========================================================================
	@__template-parts-dir.scss
	This file is used to contain all component imports.
  Files inside this folder should contain all styles relating to a reusable component.
============================================================================= */
/* ==========================================================================
	@__blocks-dir.scss
    This file is used to contain all Gutenberg block imports.
    Files inside this folder should contain all styles relating to a reusable Gutenberg Block.
============================================================================= */
/* ==========================================================================
	@_button.scss
	This file is used for styling the button-block.
============================================================================= */
.custom-button {
  border-radius: 5px;
  padding: 15px;
}
.custom-button-link {
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin: 1em;
}
@media (min-width: 992px) {
  .custom-button-link {
    margin: 1em auto;
  }
}
.custom-button svg {
  float: right;
  position: relative;
  bottom: 4px;
}
@media (min-width: 992px) {
  .custom-button svg {
    bottom: unset;
  }
}

.large {
  width: unset;
}
@media (min-width: 992px) {
  .large {
    width: 800px;
  }
}

.small {
  width: unset;
}
@media (min-width: 992px) {
  .small {
    width: 400px;
  }
}

.m-gray {
  background-color: #999999;
  color: #ffffff;
}
.m-green {
  background-color: #c8d100;
  color: #ffffff;
}
.m-orange {
  background-color: #ed7e00;
  color: #ffffff;
}
.m-blue {
  background-color: #2eaee0;
  color: #ffffff;
}
.m-yellow {
  background-color: #fdca00;
  color: #ffffff;
}
.m-teal {
  background-color: #48888a;
  color: #ffffff;
}
.m-purple {
  background-color: #b5007b;
  color: #ffffff;
}
.m-red {
  background-color: #cc061d;
  color: #ffffff;
}

/* ==========================================================================
	@_slider.scss
	This file is used for styling the accordion-block.
============================================================================= */
.swiper {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  aspect-ratio: 16/9;
}
@media (min-width: 1261px) {
  .swiper {
    width: 1200px;
  }
}

:root {
  --swiper-theme-color: $black !important;
}

.slide-image {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  aspect-ratio: 16/9;
}
@media (min-width: 1261px) {
  .slide-image {
    width: 1200px;
  }
}
.slide-image img {
  width: 100%;
  height: auto;
}

/* ==========================================================================
	@_quote.scss
	This file is used for styling the quote-block.
============================================================================= */
.quote {
  width: unset;
  margin: 1em;
}
@media (min-width: 992px) {
  .quote {
    width: 800px;
    margin: auto;
  }
}
.quote-text {
  font-weight: 600;
}
.quote .quote-person {
  margin: 1em 0;
}
@media (min-width: 992px) {
  .quote .quote-person {
    margin: 1em auto;
  }
}

/* ==========================================================================
	@_fullimage.scss
	This file is used for styling the fullimage-block.
============================================================================= */
.fullimage {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  aspect-ratio: 16/9;
}
@media (min-width: 1261px) {
  .fullimage {
    width: 1200px;
  }
}
.fullimage img {
  width: 100%;
  height: auto;
}

/* ==========================================================================
	@_book.scss
	This file is used for styling the button-block.
============================================================================= */
.book-wrapper {
  background-color: #999999;
  display: flex;
  flex-direction: column;
  width: unset;
  margin: auto;
  padding: 3em;
  gap: 1em;
}
@media (min-width: 992px) {
  .book-wrapper {
    flex-direction: row;
    width: 680px;
    border-radius: 5px;
    gap: 2.5em;
  }
}
.book-image {
  width: 200px;
  overflow: hidden;
  aspect-ratio: 1/1.3;
  margin: auto;
}
@media (min-width: 992px) {
  .book-image {
    aspect-ratio: 1/1;
    margin: unset;
    width: 50%;
  }
}
.book-image img {
  width: 100%;
  height: auto;
}
.book-text {
  width: 100%;
}
@media (min-width: 992px) {
  .book-text {
    width: 50%;
  }
}
.book-text p {
  width: unset;
  margin: 0;
  color: #ffffff;
}

/* ==========================================================================
	@_accordion.scss
	This file is used for styling the accordion-block.
============================================================================= */
.accordion > dt {
  border-bottom: 2px solid #999999;
  padding: 10px;
  position: relative;
}

.accordion > dt a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 15px;
  height: 16px;
  width: 16px;
  transition: 0.6s transform;
  background-repeat: no-repeat;
  fill: #000000;
}
@media (min-width: 992px) {
  .accordion > dt a::after {
    top: 20px;
  }
}

.accordion > dt.accordion-body-show a::after {
  transform: rotate(180deg);
  transition: 0.6s transform;
}

.accordion > dd + dt {
  margin-top: -1px;
}

.accordion > dt + dd {
  border-top: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: 0.3s max-height;
}

.accordion > dt + dd.accordion-body-show {
  transition: 0.3s max-height;
}

.accordion {
  max-width: 800px;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}
@media (min-width: 1261px) {
  .accordion {
    padding-left: 0;
    padding-right: 0;
  }
}
.accordion-heading {
  width: 85%;
}

.accordion a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

.accordion p {
  width: unset;
  margin: 1em 0;
}
@media (min-width: 992px) {
  .accordion p {
    width: unset;
    margin: 1em 0;
  }
}

/* ==========================================================================
	@_spacing.scss
	This file is used for styling the button-block.
============================================================================= */
.spacing-small {
  height: 30px;
}
@media (min-width: 992px) {
  .spacing-small {
    height: 60px;
  }
}
.spacing-medium {
  height: 60px;
}
@media (min-width: 992px) {
  .spacing-medium {
    height: 120px;
  }
}
.spacing-large {
  height: 150px;
}
@media (min-width: 992px) {
  .spacing-large {
    height: 300px;
  }
}

/* ==========================================================================
	@_cover.scss
	This file is used for styling the cover-block.
============================================================================= */
.cover-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  aspect-ratio: 16/9;
}
@media (min-width: 1261px) {
  .cover-wrapper {
    width: 1200px;
  }
}
.cover-image {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  aspect-ratio: 16/9;
}
@media (min-width: 1261px) {
  .cover-image {
    width: 1200px;
  }
}
.cover-image img {
  width: 100%;
  height: auto;
  opacity: 0.3;
}
.cover-box {
  display: block;
  position: relative;
  bottom: 100px;
  color: #ffffff;
  padding: 0 1em;
}
@media (min-width: 992px) {
  .cover-box {
    bottom: 150px;
  }
}
@media (min-width: 1261px) {
  .cover-box {
    bottom: 250px;
  }
}
.cover-box h1 {
  font-size: 20px;
  margin: 0;
}
@media (min-width: 992px) {
  .cover-box h1 {
    font-size: 40px;
  }
}
@media (min-width: 1261px) {
  .cover-box h1 {
    font-size: 65px;
  }
}
.cover-box h3 {
  font-size: 15px;
  margin: 0;
}
@media (min-width: 992px) {
  .cover-box h3 {
    font-size: 20px;
  }
}
@media (min-width: 1261px) {
  .cover-box h3 {
    font-size: 40px;
  }
}

.b-gray {
  background-color: #999999;
}
.b-green {
  background-color: #c8d100;
}
.b-orange {
  background-color: #ed7e00;
}
.b-blue {
  background-color: #2eaee0;
}
.b-yellow {
  background-color: #fdca00;
}
.b-teal {
  background-color: #48888a;
}
.b-purple {
  background-color: #b5007b;
}
.b-red {
  background-color: #cc061d;
}

/* ==========================================================================
	@_video.scss
	This file is used for styling the button-block.
============================================================================= */
.video-frame {
  display: block;
  margin: auto;
  aspect-ratio: 16/9;
  width: 100%;
}
@media (min-width: 992px) {
  .video-frame {
    width: 800px;
  }
}

/* ==========================================================================
	@_card.scss
	This file is used for styling the card-block.
============================================================================= */
.card-wrapper {
  width: unset;
  margin: 0 1em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}
@media (min-width: 1261px) {
  .card-wrapper {
    width: 800px;
    margin: auto;
  }
}
.card__container {
  width: 250px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 12px 12px rgba(134, 140, 150, 0.13), 0px 29px 40px rgba(134, 140, 150, 0.2);
}
.card__container-image {
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.card__container-image img {
  width: 250px;
  height: auto;
}

.team__container {
  padding: 1em;
}
.team__container-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}
.team__container-info p {
  font-size: 15px;
}
.team__container-name {
  margin-bottom: 1em;
}
.team__container-name .strong-text {
  font-weight: 600;
  min-height: 65px;
}
.team__container-link {
  text-align: right;
}
.team__container p {
  width: unset;
  margin: unset;
}

/* ==========================================================================
	@_iconbar.scss
	This file is used for styling the icon-bar-block.
============================================================================= */
.iconbar-wrapper {
  width: 100%;
  margin: auto;
}
@media (min-width: 1261px) {
  .iconbar-wrapper {
    width: 1200px;
  }
}
.iconbar-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1em;
}
@media (min-width: 1261px) {
  .iconbar-inner {
    justify-content: unset;
    gap: 1em;
    margin: unset;
  }
}

/* ==========================================================================
	@_list.scss
	This file is used for styling the icon-bar-block.
============================================================================= */
.list-wrapper {
  width: unset;
  margin: 0 1em;
}
@media (min-width: 1261px) {
  .list-wrapper {
    width: 800px;
    margin: auto;
  }
}
.list-item {
  border-bottom: 2px solid #999999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-item-strong {
  font-weight: 600;
}
.list-item p {
  width: fit-content;
  margin: 1em 0 0.5em 0;
}

/* ==========================================================================
	@_person.scss
	This file is used for styling the person-card-block.
============================================================================= */
.person-wrapper {
  width: unset;
  margin: 0 1em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}
@media (min-width: 1261px) {
  .person-wrapper {
    width: 800px;
    margin: auto;
  }
}
.person__container {
  width: 250px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 12px 12px rgba(134, 140, 150, 0.13), 0px 29px 40px rgba(134, 140, 150, 0.2);
}
.person__container-image {
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.person__container-image img {
  width: 250px;
  height: auto;
}
.person__info-container {
  padding: 1em;
}
.person__info-container-name {
  margin-bottom: 1em;
}
.person__info-container-name .strong-text {
  font-weight: 600;
  min-height: 65px;
}
.person__info-container p {
  width: unset;
  margin: unset;
}

/* ==========================================================================
	@__views-dir.scss
    This file is used to contain all views imports.
    Files inside this folder should contain all styles relating to views used.
============================================================================= */
/* ==========================================================================
	@_form.scss
	This file is used for styling forms.
============================================================================= */
.util-form {
  width: unset;
  margin: auto;
  border-radius: unset;
  box-shadow: 0px 12px 12px rgba(134, 140, 150, 0.13), 0px 29px 40px rgba(134, 140, 150, 0.2);
}
@media (min-width: 992px) {
  .util-form {
    width: 400px;
    border-radius: 5px;
  }
}
.util-form .form {
  padding: 1em;
}
.util-form .form-field {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin-bottom: 0.5em;
}
.util-form .form-field label {
  color: #ffffff;
}
.util-form .form-field input {
  border: none;
  padding: 0.25em;
  border-radius: 5px;
}
.util-form .form-button input {
  border: none;
  padding: 0.25em;
  border-radius: 5px;
  width: 100%;
  margin-top: 2em;
  background-color: #ffffff;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out;
  color: #000000;
}
.util-form .form-button input:hover {
  opacity: 0.8;
}

.error-box {
  margin: auto;
  width: unset;
  box-shadow: 0px 12px 12px rgba(134, 140, 150, 0.13), 0px 29px 40px rgba(134, 140, 150, 0.2);
  margin-bottom: 5em;
  background-color: #cc061d;
}
@media (min-width: 992px) {
  .error-box {
    width: 800px;
    border-radius: 5px;
  }
}
.error-msg {
  color: #ffffff;
  padding: 1em;
}

.register {
  background-color: #b5007b;
}

#login-form {
  width: unset;
  margin: auto;
  border-radius: unset;
  box-shadow: 0px 12px 12px rgba(134, 140, 150, 0.13), 0px 29px 40px rgba(134, 140, 150, 0.2);
  color: #ffffff;
  background-color: #48888a;
  padding: 1em;
}
@media (min-width: 992px) {
  #login-form {
    width: 360px;
    border-radius: 5px;
  }
}
#login-form p {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: unset;
  margin: unset;
  margin-bottom: 0.5em;
}
#login-form input {
  border: none;
  padding: 0.25em;
  border-radius: 5px;
}
#login-form #rememberme {
  position: relative;
  bottom: 2px;
}
#login-form .login-submit input {
  border: none;
  padding: 0.25em;
  border-radius: 5px;
  width: 100%;
  margin-top: 2em;
  background-color: #ffffff;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out;
  color: #000000;
}
#login-form .login-submit input:hover {
  opacity: 0.8;
}

.page-content .register-text {
  width: unset;
}
@media (min-width: 992px) {
  .page-content .register-text {
    width: 400px;
  }
}
.page-content .register-text a {
  text-decoration: underline;
}

/* ==========================================================================
	@_form.scss
	This file is used for styling the 404-Page.
============================================================================= */
.error-img {
  display: block;
  width: 150px;
  margin: 0 auto 3em auto;
}
@media (min-width: 992px) {
  .error-img {
    width: 300px;
  }
}

/* ==========================================================================
	@_login.scss
	This file is used for styling login-related elements.
============================================================================= */
.login-content-wrapper {
  width: unset;
  margin: auto;
  border-radius: unset;
  box-shadow: 0px 12px 12px rgba(134, 140, 150, 0.13), 0px 29px 40px rgba(134, 140, 150, 0.2);
  background-color: #999999;
  padding: 1em;
}
@media (min-width: 992px) {
  .login-content-wrapper {
    width: 760px;
    border-radius: 5px;
  }
}
.login-content-wrapper .wpcf7-form p {
  display: flex;
  flex-direction: column;
  width: unset;
  margin: unset;
  margin: 0 auto 0.5em auto;
  color: #ffffff;
}
.login-content-wrapper .wpcf7-form input {
  border: none;
  padding: 0.25em;
  margin-top: 3.75px;
  border-radius: 5px;
  width: calc(100% - 10px);
}
@media (min-width: 992px) {
  .login-content-wrapper .wpcf7-form input {
    margin-top: 5px;
  }
}
.login-content-wrapper .wpcf7-form textarea {
  border: none;
  padding: 0.25em;
  margin-top: 3.75px;
  border-radius: 5px;
  width: calc(100% - 10px);
  resize: none;
}
@media (min-width: 992px) {
  .login-content-wrapper .wpcf7-form textarea {
    margin-top: 5px;
  }
}
.login-content-wrapper .wpcf7-form .wpcf7-submit {
  margin-top: 2em;
  border: none;
  padding: 0.25em;
  border-radius: 5px;
  width: 100%;
  margin-top: 2em;
  background-color: #ffffff;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out;
  color: #000000;
}
.login-content-wrapper .wpcf7-form .wpcf7-submit:hover {
  opacity: 0.8;
}
.login-content-wrapper .wpcf7-form .wpcf7-spinner {
  display: none;
}
.login-content-wrapper .wpcf7-form .wpcf7-response-output {
  color: #ffffff;
}/*# sourceMappingURL=styles.css.map */